<div class="container">
  <div class="mb-3">
    <button class="btn btn-sm btn-primary mr-2" ngbTooltip="Sync item prices" (click)="syncItemPrices()" [disabled]="itemSync.running">
      <i class="fa fa-refresh" [ngClass]="{'fa-spin': itemSync.running}"></i>
    </button>
    <span *ngIf="itemSync.running" class="text-muted">
      <small>
        <span>Items are updating...</span>
        <span>Updated: {{ itemUpdate.updated }} of {{ itemUpdate.totalItems}}</span>
      </small>
    </span>
  </div>

  <div class="mb-3">
    <app-filter [filter]="filter" (filterChange)="onFilterUpdated($event)"></app-filter>
    <ul class="list-group mb-3">
      <li class="list-group-item" *ngFor="let itemFilter of itemFilters">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-link" (click)="setAsActiveFilter(itemFilter)">
              {{ itemFilter.name }}</button>
          </div>
          <div class="col-6">
            <button class="btn btn-sm btn-danger pull-right" (click)="deleteFilterItem(itemFilter)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <table class="table table-hover table-striped table-hover table-sm table-responsive-lg">
    <thead>
      <tr>
        <th>Item</th>
        <th class="text-center">Level</th>
        <th class="coin-column">Buy</th>
        <th class="coin-column">Sell</th>
        <th class="text-center">Supply</th>
        <th class="text-center">Demand</th>
        <th class="coin-column">Profit</th>
        <th class="text-center">ROI</th>
        <th class="text-center">BUC</th>
        <th class="text-center">SUC</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="item-name-column">
          <img [src]="item.icon" alt="" width="20">
          <a [routerLink]="[item._id]">
            <span [class]="item.rarity">{{ item.name }}</span>
          </a>
        </td>
        <td class="text-center">{{ item.level }}</td>
        <td class="coin-column">
          <app-coin [coins]="item.buy"></app-coin>
        </td>
        <td class="coin-column">
          <app-coin [coins]="item.sell"></app-coin>
        </td>
        <td class="text-center">{{ item.supply }}</td>
        <td class="text-center">{{ item.demand }}</td>
        <td class="coin-column">
          <app-coin [coins]="item.profit"></app-coin>
        </td>
        <td class="text-center">{{ item.roi | number:'1.2-2' }}%</td>
        <td class="text-center">{{ item.buc }}</td>
        <td class="text-center">{{ item.suc }}</td>
        <td class="text-center">
        </td>
      </tr>
      <tr *ngIf="!items.length">
        <td colspan="11" class="text-center">No item found</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="items.length" [pageSize]="20" [maxSize]="5" [(page)]="page" size="sm"></ngb-pagination>
</div>
