<div class="container">
  <div class="mb-3">
    <button class="btn btn-sm btn-primary" ngbTooltip="Sync item prices" (click)="syncItemPrices()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
  <table class="table table-hover table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Item</th>
        <th>Level</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Supply</th>
        <th>Demand</th>
        <th>Profit</th>
        <th>ROI</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          <img [src]="item.icon" alt="" width="20">
          <span>{{ item.name }}</span>
        </td>
        <td>{{ item.level }}</td>
        <td>{{ item.buy }}</td>
        <td>{{ item.sell }}</td>
        <td>{{ item.supply }}</td>
        <td>{{ item.demand }}</td>
        <td>{{ item.profit | number:'1.0-0' }}</td>
        <td>{{ item.roi | number:'1.2-2' }}%</td>
      </tr>
      <tr *ngIf="!items.length">
        <td colspan="7" class="text-center">No item found</td>
      </tr>
    </tbody>
  </table>
</div>
