<div class="container">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/trading-post">Tradingpost</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Item</li>
    </ol>
  </nav>

  <div class="row mb-5">
    <div class="col-2">
      <img class="img-fluid item-icon" [src]="item.icon" [alt]="item.name">
    </div>
    <div class="col-10">
      <h1 [class]="item.rarity">{{item.name}}</h1>
      <div class="row">
        <div class="col-6 ">
          <dl class="row">
            <dt class="col-4">Level</dt>
            <dd class="col-8">{{item.level}}</dd>

            <dt class="col-4">Rarity</dt>
            <dd class="col-8">{{item.rarity}}</dd>

            <dt class="col-4">Buy</dt>
            <dd class="col-8">
              <app-coin [coins]="item.buy"></app-coin>
            </dd>

            <dt class="col-4">Sell</dt>
            <dd class="col-8">
              <app-coin [coins]="item.sell"></app-coin>
            </dd>

            <dt class="col-4">Demand</dt>
            <dd class="col-8">
              {{item.demand}}
            </dd>


          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-4">Profit</dt>
            <dd class="col-8">
              <app-coin [coins]="item.profit"></app-coin>
            </dd>

            <dt class="col-4">ROI</dt>
            <dd class="col-8">{{item.roi| number:'1.2-2'}}%</dd>

            <dt class="col-4">BUC</dt>
            <dd class="col-8">{{item.buc}}</dd>

            <dt class="col-4">SUC</dt>
            <dd class="col-8">{{item.suc}}</dd>

            <dt class="col-4">Supply</dt>
            <dd class="col-8">
              {{item.supply}}
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <ngb-tabset activeId="">
    <ngb-tab title="Market" id="marketTab">
      <ng-template ngbTabContent>
        <app-line-chart [data]="tradingHistory"></app-line-chart>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Current Listing" id="listingsTab">
      <ng-template ngbTabContent>

        <div class="row mt-3">
          <div class="col-sm-6">
            <div class="form-group ">
              <label for="activeBuyPrice" class="col-form-label text-right">Buy At</label>
              <input type="number" name="activeBuyPrice" [(ngModel)]="activeBuyPrice" class="form-control">
            </div>
            <div class="form-group">
              <label for="activeSellPrice" class="col-form-label text-right">Sell At</label>
              <input type="number" name="activeSellPrice" [(ngModel)]="activeSellPrice" class="form-control">
            </div>
            <div class="form-group">
              <label for="listingQuantity">Quantity</label>
              <input type="number" name="listingQuantity" [(ngModel)]="listingQuantity" class="form-control">
            </div>

          </div>

          <div class="col-sm-6">
            <dl class="row">
              <dt class="col-4">Profit</dt>
              <dt class="col-8">
                <app-coin [coins]="listingQuantity * calculateProfit(activeBuyPrice,activeSellPrice)"></app-coin>
              </dt>
            </dl>
          </div>
        </div>

        <div class="row pt-3">

          <div class="col-md-6">
            <h2>Buy</h2>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Price</th>
                  <th class="text-center">Buyers</th>
                  <th class="text-center">Quantity</th>
                  <th class="text-center">Profit</th>
                  <th class="text-center">ROI</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let buy of item.listings.buys | slice:startRange(buyPage, paginationSize): endRange(buyPage, paginationSize); let i=index"
                  [ngClass]="{'active-price': buy.unit_price==activeBuyPrice}" (click)="setActiveBuyPrice(buy.unit_price)">
                  <td>
                    <app-coin [coins]="buy.unit_price"></app-coin>
                  </td>
                  <td class="text-center">{{buy.listings}}</td>
                  <td class="text-center">{{buy.quantity}}</td>
                  <td class="text-center">
                    <app-coin [coins]="calculateProfit(buy.unit_price,activeSellPrice)"></app-coin>
                  </td>
                  <td class="text-center">{{calculateROI(buy.unit_price,activeSellPrice) | number:'1.2-2'}}%</td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination [collectionSize]="paginationSize" [(page)]="buyPage" [collectionSize]="item.listings.sells.length" [pageSize]="paginationSize"
              [maxSize]="5" size="sm"></ngb-pagination>
          </div>
          <div class="col-md-6">
            <h2>Sell</h2>

            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Price</th>
                  <th class="text-center">Sellers</th>
                  <th class="text-center">Quantity</th>
                  <th class="text-center">Profit</th>
                  <th class="text-center">ROI</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sell of item.listings.sells | slice:startRange(sellPage, paginationSize): endRange(sellPage, paginationSize); let i=index"
                  [ngClass]="{'active-sell-price': sell.unit_price==activeSellPrice}" (click)="setActiveSellPrice(sell.unit_price)">
                  <td>
                    <app-coin [coins]="sell.unit_price"></app-coin>
                  </td>
                  <td class="text-center">{{sell.listings}}</td>
                  <td class="text-center">{{sell.quantity}}</td>
                  <td class="text-center">
                    <app-coin [coins]="calculateProfit(activeBuyPrice,sell.unit_price)"></app-coin>
                  </td>
                  <td class="text-center">{{calculateROI(activeBuyPrice,sell.unit_price) | number:'1.2-2'}}%</td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination [collectionSize]="item.listings.sells.length" [pageSize]="paginationSize" [maxSize]="5" [(page)]="sellPage"
              size="sm"></ngb-pagination>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
